<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Quyến đẹp trai pro</h1>
    <div>
        <img class="quyenngu" src="/images/abc.jpg" alt="het cứu">
    </div>
</body>

</html>