table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #ccc;
}

body {
  padding: 10px;
}

button {
  cursor: pointer;
  margin-right: 10px;
}